/*
Syntax error: Undefined mixin 'transition'.
        on line 48 of /home/nagino/Sites/coote/public/stylesheets/sass/style.sass, in `transition'
        from line 48 of /home/nagino/Sites/coote/public/stylesheets/sass/style.sass

43: 
44: a:link, a:visited
45:   :color #c74350
46:   :padding 0 1px
47:   :text-decoration underline
48:   @include transition()
49: a:hover, a:active
50:   :background-color #c74350
51:   :color #fff
52:   :text-decoration none
53:   :text-shadow 1px 1px 1px #333

Backtrace:
/home/nagino/Sites/coote/public/stylesheets/sass/style.sass:48:in `transition'
/home/nagino/Sites/coote/public/stylesheets/sass/style.sass:48
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:169:in `visit_mixin'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:18:in `visit'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:53:in `map'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:230:in `visit_rule'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:18:in `visit'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:53:in `map'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:18:in `visit'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:7:in `visit'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/sass-3.1.1/lib/sass/tree/root_node.rb:20:in `render'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/sass-3.1.1/lib/sass/engine.rb:291:in `_render'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/sass-3.1.1/lib/sass/engine.rb:239:in `block in render'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/sass-3.1.1/lib/sass/util.rb:298:in `silence_sass_warnings'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/sass-3.1.1/lib/sass/engine.rb:239:in `render'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/sass-3.1.1/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/sass-3.1.1/lib/sass/plugin/compiler.rb:181:in `block (2 levels) in update_stylesheets'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/sass-3.1.1/lib/sass/plugin/compiler.rb:175:in `each'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/sass-3.1.1/lib/sass/plugin/compiler.rb:175:in `block in update_stylesheets'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/sass-3.1.1/lib/sass/plugin/compiler.rb:173:in `each'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/sass-3.1.1/lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/sass-3.1.1/lib/sass/plugin.rb:81:in `update_stylesheets'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/sass-3.1.1/lib/sass/plugin.rb:54:in `check_for_updates'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/sass-3.1.1/lib/sass/plugin/rack.rb:51:in `call'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/actionpack-3.0.7/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/actionpack-3.0.7/lib/action_dispatch/middleware/head.rb:14:in `call'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/rack-1.2.2/lib/rack/methodoverride.rb:24:in `call'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/actionpack-3.0.7/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/actionpack-3.0.7/lib/action_dispatch/middleware/flash.rb:182:in `call'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/actionpack-3.0.7/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/actionpack-3.0.7/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/actionpack-3.0.7/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/activesupport-3.0.7/lib/active_support/callbacks.rb:416:in `_run_call_callbacks'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/actionpack-3.0.7/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/rack-1.2.2/lib/rack/sendfile.rb:107:in `call'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/actionpack-3.0.7/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/actionpack-3.0.7/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/railties-3.0.7/lib/rails/rack/logger.rb:13:in `call'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/rack-1.2.2/lib/rack/runtime.rb:17:in `call'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/activesupport-3.0.7/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/rack-1.2.2/lib/rack/lock.rb:11:in `block in call'
<internal:prelude>:10:in `synchronize'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/rack-1.2.2/lib/rack/lock.rb:11:in `call'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/actionpack-3.0.7/lib/action_dispatch/middleware/static.rb:30:in `call'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/railties-3.0.7/lib/rails/application.rb:168:in `call'
/home/nagino/Sites/coote/vendor/bundle/ruby/1.9.1/gems/railties-3.0.7/lib/rails/application.rb:77:in `method_missing'
/home/nagino/.passenger/standalone/3.0.7-x86-ruby1.9.2-linux-gcc4.5.2-1002/support/lib/phusion_passenger/rack/request_handler.rb:96:in `process_request'
/home/nagino/.passenger/standalone/3.0.7-x86-ruby1.9.2-linux-gcc4.5.2-1002/support/lib/phusion_passenger/abstract_request_handler.rb:513:in `accept_and_process_next_request'
/home/nagino/.passenger/standalone/3.0.7-x86-ruby1.9.2-linux-gcc4.5.2-1002/support/lib/phusion_passenger/abstract_request_handler.rb:274:in `main_loop'
/home/nagino/.passenger/standalone/3.0.7-x86-ruby1.9.2-linux-gcc4.5.2-1002/support/lib/phusion_passenger/rack/application_spawner.rb:205:in `start_request_handler'
/home/nagino/.passenger/standalone/3.0.7-x86-ruby1.9.2-linux-gcc4.5.2-1002/support/lib/phusion_passenger/rack/application_spawner.rb:170:in `block in handle_spawn_application'
/home/nagino/.passenger/standalone/3.0.7-x86-ruby1.9.2-linux-gcc4.5.2-1002/support/lib/phusion_passenger/utils.rb:479:in `safe_fork'
/home/nagino/.passenger/standalone/3.0.7-x86-ruby1.9.2-linux-gcc4.5.2-1002/support/lib/phusion_passenger/rack/application_spawner.rb:165:in `handle_spawn_application'
/home/nagino/.passenger/standalone/3.0.7-x86-ruby1.9.2-linux-gcc4.5.2-1002/support/lib/phusion_passenger/abstract_server.rb:357:in `server_main_loop'
/home/nagino/.passenger/standalone/3.0.7-x86-ruby1.9.2-linux-gcc4.5.2-1002/support/lib/phusion_passenger/abstract_server.rb:206:in `start_synchronously'
/home/nagino/.passenger/standalone/3.0.7-x86-ruby1.9.2-linux-gcc4.5.2-1002/support/lib/phusion_passenger/abstract_server.rb:180:in `start'
/home/nagino/.passenger/standalone/3.0.7-x86-ruby1.9.2-linux-gcc4.5.2-1002/support/lib/phusion_passenger/rack/application_spawner.rb:128:in `start'
/home/nagino/.passenger/standalone/3.0.7-x86-ruby1.9.2-linux-gcc4.5.2-1002/support/lib/phusion_passenger/spawn_manager.rb:253:in `block (2 levels) in spawn_rack_application'
/home/nagino/.passenger/standalone/3.0.7-x86-ruby1.9.2-linux-gcc4.5.2-1002/support/lib/phusion_passenger/abstract_server_collection.rb:132:in `lookup_or_add'
/home/nagino/.passenger/standalone/3.0.7-x86-ruby1.9.2-linux-gcc4.5.2-1002/support/lib/phusion_passenger/spawn_manager.rb:246:in `block in spawn_rack_application'
/home/nagino/.passenger/standalone/3.0.7-x86-ruby1.9.2-linux-gcc4.5.2-1002/support/lib/phusion_passenger/abstract_server_collection.rb:82:in `block in synchronize'
<internal:prelude>:10:in `synchronize'
/home/nagino/.passenger/standalone/3.0.7-x86-ruby1.9.2-linux-gcc4.5.2-1002/support/lib/phusion_passenger/abstract_server_collection.rb:79:in `synchronize'
/home/nagino/.passenger/standalone/3.0.7-x86-ruby1.9.2-linux-gcc4.5.2-1002/support/lib/phusion_passenger/spawn_manager.rb:244:in `spawn_rack_application'
/home/nagino/.passenger/standalone/3.0.7-x86-ruby1.9.2-linux-gcc4.5.2-1002/support/lib/phusion_passenger/spawn_manager.rb:137:in `spawn_application'
/home/nagino/.passenger/standalone/3.0.7-x86-ruby1.9.2-linux-gcc4.5.2-1002/support/lib/phusion_passenger/spawn_manager.rb:275:in `handle_spawn_application'
/home/nagino/.passenger/standalone/3.0.7-x86-ruby1.9.2-linux-gcc4.5.2-1002/support/lib/phusion_passenger/abstract_server.rb:357:in `server_main_loop'
/home/nagino/.passenger/standalone/3.0.7-x86-ruby1.9.2-linux-gcc4.5.2-1002/support/lib/phusion_passenger/abstract_server.rb:206:in `start_synchronously'
/home/nagino/.passenger/standalone/3.0.7-x86-ruby1.9.2-linux-gcc4.5.2-1002/support/helper-scripts/passenger-spawn-server:99:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'transition'.\A         on line 48 of /home/nagino/Sites/coote/public/stylesheets/sass/style.sass, in `transition'\A         from line 48 of /home/nagino/Sites/coote/public/stylesheets/sass/style.sass\A \A 43: \A 44: a:link, a:visited\A 45:   :color #c74350\A 46:   :padding 0 1px\A 47:   :text-decoration underline\A 48:   @include transition()\A 49: a:hover, a:active\A 50:   :background-color #c74350\A 51:   :color #fff\A 52:   :text-decoration none\A 53:   :text-shadow 1px 1px 1px #333"; }
