- if @mono.errors.any?
  #error_explanation
    %ul
      - @mono.errors.full_messages.each do |msg|
        %li= msg
= form_for @mono, :url => '/mono/create' do |f|
  =f.text_field :from, :placeholder => '私は'
  %span は
  =f.text_field :to, :placeholder => '○○さん'
  %span に
  %div &nbsp;
  =f.text_area :body, :size => '50x4', :placeholder => '☻☻☻☻☻☻☻☻☻☻☻☻☻☻☻☻☻☻☻☻☻☻☻☻☻☻☻☻☻☻☻☻☻☻☻☻'
  %br/
  %div &nbsp;
  %span を
  =f.submit "こーてほしい"
