%header#banner.body
  %h1
    = link_to "coote", root_path
  %nav
    %ul
      %li{:class => (request.path_info =~ /^#{root_path}$/ or request.path_info =~ /\/top\/index/ )? 'active' : ''}
        = link_to "Home", root_path
      %li{:class => (request.path_info == new_mono_path)? 'active' : ''}
        = link_to "New coote", new_mono_path
